body{
	background-color: #00ffff;
}

	@font-face {
	    font-family: 'calculatorregular';
	    src: url('resources/calculator.eot');
	    src: url('resources/calculator.eot?#iefix') format('embedded-opentype'),
	         url('resources/calculator.woff2') format('woff2'),
	         url('resources/calculator.woff') format('woff'),
	         url('resources/calculator.svg#calculatorregular') format('svg'); 
	    font-weight: normal;
	    font-style: normal;
	}



.readout{
	font-family: calculatorregular;
	background-color: #00ffff;
	color: black;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 20px;

	font-size: 40px;
	font-weight: bold;

	transition: 0.2s ease-out;
}

.readout.s-success{
	color: orange;
}

.negative-marker{
	visibility: hidden;
}
	
	.negative-marker.s-visible{
		visibility: visible;
	}

.operation{
	float: right;
}

.storage{
	float: right;
	color: rgba(0,0,0,0.7);
}

button{
	font-size: 30px;
	min-width: 50px;
	padding: 5px 10px;
	background-color: #0070ff;
	color: black; 
	border: 1px solid black;
	border-radius: 5px;
}

	.button_dark{
		background-color: #0863D8;
	}

.button--number{

}

.button--calculate{
	background-color: green;
}

.button--clear{
	background-color: red;
}

.space-bottom{
	margin-bottom:10px;
}