body{
	background-color: #00ffff;
}

.readout{
	background-color: #00ffff;
	color: black;
	border: 1px solid black;
	padding: 20px;
	margin-bottom: 20px;

	font-size: 30px;
	font-weight: bold;

	transition: 0.2s ease-out;
}

.readout.s-success{
	color: orange;
}

.negative-marker{
	visibility: hidden;
}
	
	.negative-marker.s-visible{
		visibility: visible;
	}

.storage{
	float: right;
	color: rgba(0,0,0,0.7);
}

button{
	font-size: 30px;
	padding: 5px 10px;
	background-color: #0070ff;
	color: black; 
	border: 1px solid black;
	border-radius: 5px;
}

.button--number{

}

.button--calculate{
	background-color: green;
}

.button--clear{
	background-color: red;
}

.space-bottom{
	margin-bottom:10px;
}